<div class="container row" style="padding-top: 60px;">
    <div class="col s12 m6 l8 offset-m3 offset-l2">
        <h1 style="font-family: Fredoka One; text-align: center;color: #039be5;text-transform: uppercase;">Medicine not found.</h1>
    </div>
</div>