
:root {
  --bg1: #039be5;
  --bg2: #0F9688;
}


body{
  min-height: 100vh;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: 0;;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav{
  background-color: var(--bg1);
}

main {
  flex: 1 0 auto;
}
    

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}


#hero{
  min-height: 36vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg1);
  
}

/* search box */
#search_box{
  display: flex;
  justify-content: center;
  align-items: center;
}

#search_box input::placeholder{
  color: rgba(0, 0, 0, 0.3)
}

.section-heading{
  margin: 0px 10px 30px;
  font-weight: 600;
  color: #382d2d5d;
  letter-spacing: 1px;
  font-size: 24px;
}

/* basic-med-wrapper */

.basic-med-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding: 30px;
}
.basic-med-wrapper .basic-med{
  display: flex;
  flex-direction: column;
}
.basic-med-wrapper .med-card-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card{
  width: 23%;
  box-shadow: none;
  transition: all 0.3s ease;
  margin: 20px 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  cursor: pointer;
}
.card img{
  padding: 15%;
  filter: saturate(0.3);
  -webkit-filter: saturate(0.3);
}

.card:hover{
  background-color: #d0cbc957;
  /* box-shadow: 5px 5px 15px 5px rgba(255, 128, 128, 0.4), -9px 5px 15px 5px rgba(255, 228, 136, 0.4), -7px -5px 15px 5px rgba(140, 255, 133, 0.4), 12px -5px 15px 5px rgba(128, 199, 255, 0.4), 12px 10px 15px 7px rgba(228, 136, 255, 0.4), -10px 10px 15px 7px rgba(255, 97, 107, 0.4), -10px -7px 27px 1px rgba(142, 92, 255, 0.4), 5px 5px 15px 5px rgba(0,0,0,0); */

  box-shadow: 0px 10px 25px #6a1b9a4a;
}

.card:hover img{
  filter: saturate(1);
  -webkit-filter: saturate(1);
}

#tip-wrapper{
  background: var(--bg1);
  /* background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
  background: linear-gradient(to right, #1565C0, #b92b27)  */

}

#tip-card{
  max-width: 370px;
}

#flat-button{
  border: 1px solid var(--bg1);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

#profile-button{
  box-shadow: none;
  background: transparent !important;
  color: #039be5;
  font-weight: 500;
  border: 1px solid #717171;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

#profile-button:hover{
  box-shadow: none;
  background: #717171 !important;
  color: #fff;
}

#flat-button:hover{
  background: var(--bg1) !important;
  color: #fff;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}

#flat-button2{
  color: #fff;
  border: 1px solid #fff
}

#flat-button2:hover{
  transform: translateY(-3px);
  background: white;
  color: var(--bg1);
}


#profile-wrapper{
  margin-top: 2%;
  padding: 20px;
  border: 3px solid #03a9f4;
  width: 40%;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: -20px 18px 0px 1px #ee6e73;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

#profile-wrapper:hover{
  box-shadow: -25px 22px 0px 1px #ee6e73;
}
#profile-wrapper span{
  font-weight: bold; 
  margin-right: 10px;
  color: steelblue;
}
#profile-wrapper h3{
  text-align: center;
  font-weight: bold;
  color: #5a5a5ad4; 
  margin-bottom: 20px;
}


ul.collection li{
  font-size: 20px;
}
ul.collection li span{
  font-size: 18px;
  color: #039be5;
  margin-right: 7px;
  font-weight: bold;
  text-transform: uppercase;
}


/* media queries */

@media only screen and (max-width: 900px) {

  .hero-content-wrapper{
    width: 80% !important;
  }
  .hero-content-wrapper h2{
    font-size: 2.5rem;
    margin-bottom: 5px;
  }
  .hero-content-wrapper p{
    font-size: 12px;
  }
  .hero-content-wrapper input{
    font-size: 16px !important;
  }

  #flat-button,#flat-button2{
    width: 50% !important;
  }

  #profile-wrapper{
    width: 80% !important
  }

  #tip-form{
    width: 80% !important;
  }
  #med-form{
    width: 80% !important;
  }

  .card{
    width: 30%;
  }

}

@media only screen and (max-width: 700px) {
  .card{
    width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  .card{
    width: 60% !important;
  }
}

@media only screen and (max-width: 400px) {

  .hero-content-wrapper h2{
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .hero-content-wrapper p{
    font-size: 10px;
  }

  .hero-content-wrapper input,#med-search{
    font-size: 13px !important;
  }

  #profile-wrapper{
    width: 90% !important
  }

  #flat-button,#flat-button2{
    width: 80% !important;
  }

  #tip-form{
    width: 100% !important;
  }

  #tip-desc{
    font-size: 14px !important;
  }
}

